{% extends 'website/base.html' %}

{% block title %}
AI Flyer Generator
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">AI Flyer Generator</h1>
</div>

{% if image %}

    <div class="container mt-2">
        <h2 class="display-7">Your Image:</h2>
    </div>

    <div class="container mt-2">
        <div class="card">
            <div class="card-body">
                <img src="{{ image }}" alt="Generated DALL-E Image" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container text-center mt-2">
        <a href="{% url 'website:api_calls:assistant_image' %}" class="btn btn-dark btn-sm rounded-3">Another one</a>
        <a href="{{ image }}" class="btn btn-outline-dark btn-sm rounded-3">Download</a>
        <a href="{% url 'website:user_profile:profile' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back to profile</a>
    </div>

{% else %}

    <div class="container mt-3">
        <p>
            Describe what you want your event flyer to look like. Our Assistant will generate an event flyer for your
            event based on your description. The assistant uses the API for the image generation <b>DALL-E 3</b>
            model from OpenAI.
        </p>
    </div>

    <div class="container mt-4">
        <h2 class="display-7">
            Event Flyer Description:
        </h2>
    </div>

    <div class="container text-center mt-2">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark btn-sm rounded-3">Get Event Flyer</button>
            <a href="{% url 'website:user_profile:profile' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back to profile</a>
        </form>
    </div>

{% endif %}

{% endblock %}