{% extends 'website/base.html' %}

{% block title %}
Artists
{% endblock %}

{% block content %}


{% if artists %}

    <div class="container mt-4">
        <h1 class="display-5">Artists</h1>
    </div>

    <div class="container mt-2">
        <p>Featured artists.</p>
    </div>

    <div class="container">
        <a href="{% url 'website:update_db:add_artist' %}" class="btn btn-dark btn-sm rounded-3 mt-3">Add Artist</a>
    </div>

    <div class="container mt-3">
        <div class="row">
            {% for artist in artists %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ artist.image.url }}" class="card-img-top" alt="{{ artist.name }}" style="max-height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ artist.name }}</h5>
                            <p class="card-text">{{ artist.city }}, {{ artist.country }}</p>
                            {% if artist.email %}
                                <p class="card-text"><strong>Contact: </strong>{{ artist.email }}</p>
                            {% endif %}

                            {% if artist.website %}
                                <p class="card-text"><strong>Website: </strong>{{ artist.website }}</p>
                            {% endif %}

                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="{% url 'website:model_pages:artist_page' artist.id %}" class="btn btn-dark btn-sm rounded-3">Artist Page</a>
                                    <a href="{% url 'website:model_pages:artist_events' artist.id %}" class="btn btn-secondary btn-sm rounded-3">Artist Events</a>
                                </div>

                                <div>
                                    {% if user == artist.manager %}
                                        <a href="{% url 'website:update_db:edit_artist' artist.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container text-center">
        <a href="{% url 'website:update_db:add_artist' %}" class="btn btn-dark btn-sm rounded-3">Add Artist</a>
        <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
    </div>

{% else %}

    <div class="container text-center mt-4">
        <h1 class="display-7">Artists</h1>
        <h4>There are no artists at the moment. Add the first Artist.</h4>
        <a href="{% url 'website:update_db:add_artist' %}" class="btn btn-info btn-sm rounded-3">Add Artist</a>
        <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back to home</a>
    </div>

{% endif %}

{% endblock %}
