{% extends 'website/base.html' %}

{% block title %}
Add Promoter
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="container text-center mt-4">
        <h2 class="display-7">Add Promoter</h2>
    </div>

    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center mt-4">
                <button type="submit" class="btn btn-info btn-sm rounded-3">Add Promoter</button>
                <a href="{% url 'website:user_profile:user_promoters' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
            </div>
        </form>
    </div>

</div>
{% endblock %}
