{% extends 'website/base.html' %}

{% block title %}
AI Assistant
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="display-7">AI Assistant</h2>
</div>

{% if event_name %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h4>Your prompt:</h4>
                <p>{{ user_prompt }}</p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h4>AI Response: </h4>
                <p><strong>Event Name: </strong>{{ event_name }}</p>
                <p><strong>Flyer Suggestion: </strong>{{ event_flyer }}</p>
                <p><strong>Event Description: </strong>{{ event_description }}</p>
            </div>
        </div>
    </div>

{% else %}

    <div class="container mt-4">
        <p>
            Describe what you have in mind for your event. Our Assistant will respond with an event idea providing you
            with an event name, event description and also suggest an idea for the flyer of your event. The assistant
            uses our custom trained GPT model from OpenAI.
        </p>
    </div>

    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info rounded-3">Ask Assistant</button>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary rounded-3">Back</a>
        </form>
    </div>

{% endif %}

{% endblock %}
