{% extends 'website/base.html' %}

{% block title %}
{{ promoter.name }} - Edit Promoter
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="container mt-4">
        <h2 class="display-7">Edit Promoter</h2>
    </div>

    {% if user == promoter.manager %}
    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info">Update</button>
            <a href="{% url 'website:user_profile:user_promoters' user.id %}" class="btn btn-outline-secondary rounded-3">Back</a>
        </form>
    </div>
    {% else %}
    <div class="container mt-4">
        <p>You are not the manager of this promoter and can't edit it.</p>
        <p>Contact the promoter manager: {{ promoter.manager }}</p>
        <p><a href="{% url 'website:user_profile:user_promoters' user.id %}" class="btn btn-secondary rounded-3">Back to my promoters</a></p>
    </div>
    {% endif %}

</div>
{% endblock %}
