{% extends 'website/base.html' %}

{% block title %}
{{ user.first_name }} {{ user.last_name }} - Edit Profile
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="container mt-4">
        <h2 class="display-7">Edit Profile</h2>
    </div>

    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info">Update</button>
            <a href="{% url 'profile' user.id %}" class="btn btn-secondary">Back</a>
        </form>
    </div>

</div>
{% endblock %}
