{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit Event - {{ event.name }}
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="container mt-4">
        <h2 class="display-7">Edit Event</h2>
    </div>

    {% if user == event.manager %}
    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-info rounded-3">Update</button>
            <a href="{% url 'website:user_profile:user_events' user.id %}" class="btn btn-outline-secondary rounded-3">Back</a>
        </form>
    </div>
    {% else %}
    <div class="container mt-4">
        <p>You are not the manager of this event and can't edit it.</p>
        <p>Contact the event manager: {{ event.manager }}</p>
        <p><a href="{% url 'website:user_profile:user_events' user.id %}" class="btn btn-secondary rounded-3">Back to my events</a></p>
    </div>
    {% endif %}


</div>
{% endblock %}