{% extends 'website/base.html' %}

{% block title %}
{{ venue.name }} - Edit Venue
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="container mt-4">
        <h2 class="display-7">Edit Venue</h2>
    </div>

    {% if user == venue.manager %}
    <div class="container text-center mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info btn-sm rounded-3">Update</button>
            <button type="button" class="btn btn-outline-danger btn-sm rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
            </button>

            <!--Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete this venue ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Please confirm if you want to delete: <b>{{ venue.name }}</b>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'website:update_db:delete_venue' venue.id %}" class="btn btn-danger btn-sm rounded-3">Delete</a>
                        <button type="button" class="btn btn-outline-secondary btn-sm rounded-3" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            <a href="{% url 'website:user_profile:user_venues' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
        </form>
    </div>
    {% else %}
    <div class="container text-center mt-4">
        <p>You are not the manager of this venue and can't edit it.</p>
        <p>Contact the venue manager: {{ venue.manager }}</p>
        <p><a href="{% url 'website:model_pages:venues' %}" class="btn btn-secondary rounded-3">Back</a></p>
    </div>
    {% endif %}

</div>
{% endblock %}
