{% extends 'website/base.html' %}

{% block title %}
{{ venue.name }} - Edit Venue
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="container mt-4">
        <h2 class="display-7">Edit Venue</h2>
    </div>

    {% if user == venue.manager %}
    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info rounded-3">Update</button>
            <a href="{% url 'website:user_profile:user_venues' user.id %}" class="btn btn-secondary rounded-3">Back</a>
        </form>
    </div>
    {% else %}
    <div class="container mt-4">
        <p>You are not the manager of this venue and can't edit it.</p>
        <p>Contact the venue manager: {{ venue.manager }}</p>
        <p><a href="{% url 'website:model_pages:venues' %}" class="btn btn-secondary rounded-3">Back</a></p>
    </div>
    {% endif %}

</div>
{% endblock %}
