{% extends 'website/base.html' %}

{% block title %}
{{ event.name }}
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">
        Event Page
    </h1>
</div>

<div class="container mt-3">
    <div class="card text bg-dark">
        <img src="{{ event.event_flyer.url }}" class="card-img img-fluid" alt="{{ event.name }} at {{ event.venue }}"
             style="height: 500px; max-width: 100%;">
        <div class="card-img-overlay">
            <div class="card bg-dark" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: white;">{{ event.name }}</h5>
                    <p class="card-text" style="color: white;">{{ event.description }}</p>
                    {% if event.artists.all %}
                        <p class="card-text" style="color: white;">
                            Artists performing:
                            {% for artist in event.artists.all %}
                                {{ artist }}{% if event.artists.all.count > 1 %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p class="card-text" style="color: white;">Persons attending: {{ event.attendees.all.count  }}</p>
                    <p class="card-text" style="color: white;"><small>Last updated on {{ event.updated_at }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    {% if user.is_authenticated %}
        {% if user in event.attendees.all %}
            <a href="{% url 'event_unattend' event.id %}" class="btn btn-outline-info rounded-3">Unattend</a>
        {% else %}
            <a href="{% url 'event_attend' event.id %}" class="btn btn-info rounded-3">Attend</a>
        {% endif %}

        {% if user == event.manager %}
            <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-secondary rounded-3">Edit</a>
            <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger rounded-3">Delete</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'events' %}" class="btn btn-outline-secondary rounded-3">Back</a>
</div>

{% endblock %}