{% extends 'website/base.html' %}

{% block title %}
Home Page
{% endblock %}


{% block content %}

<!-- Hero Section -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to EvntMngr{% if user.is_authenticated %}, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}{% endif %}</h1>
    <p class="col-md-8 fs-4">Manage and discover events and venues around you.</p>
    <a class="btn btn-info btn-lg rounded-3" href="{% url 'events' %}">Explore Events</a>
    <a class="btn btn-outline-dark btn-lg rounded-3" href="{% url 'venues' %}">Explore Venues</a>
  </div>
</div>

<!--<div class="container mt-2">-->
<!--    <div class="card bg-light rounded-3">-->
<!--        <div class="card-body" data-bs-theme="dark">-->
<!--            <p>Hello Hello</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
