{% extends 'website/base.html' %}

{% block title %}
Home Page
{% endblock %}


{% block content %}

<div class="container mt-4">
    <h1 class="display-5">Home Page</h1>
</div>

<div class="container mt-3">
    <h2 class="display-7">Welcome to our website{% if user.is_authenticated %}, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user }}{% endif %}{% endif %}!</h2>
</div>

<div class="container mt-2">
        <p>EventMngr App in development...</p>

        {% for event in google_events %}
            <ul>
                <li>{{ event }}</li>
            </ul>
        {% endfor %}

</div>

{% endblock %}
