{% extends 'website/base.html' %}

{% block title %}
Promoters
{% endblock %}


{% block content %}

<div class="container mt-4">
    <h1 class="display-5">Promoters</h1>
</div>

<div class="container mt-3">
    <h2 class="display-7"> All Promoters:</h2>
</div>

<div class="container mt-2">
    <p>Lorem ipsum dolor sit amet.</p>
</div>

<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">Promoter Name</th>
                <th scope="col">Promoter City</th>
                <th scope="col">Promoter Email</th>
                <th scope="col">Promoter Website</th>
            </tr>
        </thead>

        <tbody>
            {% if promoters %}
                {% for promoter in promoters %}
                    <tr>
                        <td><a href="{% url 'promoter_page' promoter.id %}">{{ promoter.name }}</a></td>
                        <td>{{ promoter.city }}</td>
                        <td>{{ promoter.email }}</td>
                        <td>{{ promoter.website }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'add_promoter' %}" class="btn btn-info">Add Promoter</a>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</div>

{% endblock %}