{% extends 'website/base.html' %}

{% block title %}
Profile - {{ user.first_name }} {{ user.last_name }}
{% endblock %}


{% block content %}

{% if user == profile.user %}

<div class="container mt-4">
    <h1 class="display-5">My Profile</h1>
</div>

<div class="container mt-3">
    <div class="row">

        <!--User Events-->
    <div class="col-md-6">
        <h2 class="display-7">
            My Events
        </h2>
        <br/>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Event Date</th>
                <th scope="col">Event Venue</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>

        <tbody>
            {% if events %}
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.venue }}</td>
                        <td><a href="{% url 'event_page' event.id %}" class="btn btn-outline-info btn-sm rounded-3">View</a>
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
                            <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-sm rounded-3">Delete</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
        <a href="{% url 'user_events' user.id %}" class="btn btn-outline-secondary rounded-3">View All</a>

        <br/>
        <br/>
        <h2 class="display-7">
            My Promoters
        </h2>
        <br/>
        <table class="table table-striped table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">Promoter</th>
                <th scope="col">City</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>

        <tbody>
            {% if promoters %}
                {% for promoter in promoters %}
                    <tr>
                        <td>{{ promoter.name }}</td>
                        <td>{{ promoter.city }}</td>
                        <td><a href="{% url 'promoter_page' promoter.id %}" class="btn btn-outline-info btn-sm rounded-3">View</a>
                            <a href="{% url 'edit_promoter' promoter.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
                            <a href="{% url 'delete_promoter' promoter.id %}" class="btn btn-outline-danger btn-sm rounded-3">Delete</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
        <a href="{% url 'user_promoters' user.id %}" class="btn btn-outline-secondary rounded-3">View All</a>


        <br/>
        <br/>
        <h2 class="display-7">
            My Venues
        </h2>
        <br/>
        <table class="table table-striped table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">Venue Name</th>
                <th scope="col">City</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>

        <tbody>
            {% if venues %}
                {% for venue in venues %}
                    <tr>
                        <td>{{ venue.name }}</td>
                        <td>{{ venue.city }}</td>
                        <td><a href="{% url 'venue_page' venue.id %}" class="btn btn-outline-info btn-sm rounded-3">View</a>
                            <a href="{% url 'edit_venue' venue.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
                            <a href="{% url 'delete_venue' venue.id %}" class="btn btn-outline-danger btn-sm rounded-3">Delete</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
        <a href="{% url 'user_venues' user.id %}" class="btn btn-outline-secondary rounded-3">View All</a>

    </div>

    <!--User Information-->
        <div class="col-md-6">

    <div class="card rounded-5 mb-3" style="max-width: 100%;">
  <div class="row g-2">
    <div class="col-md-4">
        {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" class="img-fluid rounded-circle" alt="...">
        {% else %}
        <img src="#" class="img-fluid rounded-start" alt="...">
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="card-text"><strong>Email:</strong> {{ user }}</p>
          {% if key %}
          <p class="card-text"><strong>API Key:</strong> {{ key.api_key }}</p>
          {% endif %}
        <p class="card-text"><small class="text-body-secondary">Last login on {{ user.last_login }}</small></p>
      </div>
    </div>
  </div>
</div>
    <a href="{% url 'add_event' %}" class="btn btn-info btn-sm rounded-3">Add Event</a>
    <a href="#" class="btn btn-dark btn-sm rounded-3">Add Artist</a>
    <a href="{% url 'add_promoter' %}" class="btn btn-dark btn-sm rounded-3">Add Promoter</a>
    <a href="{% url 'add_venue' %}" class="btn btn-dark btn-sm rounded-3">Add Venue</a>
    <a href="{% url 'edit_profile' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit Profile</a>
</div>

</div>
</div>

{% else %}

<div class="container mt-4">
    <h1 class="display-5">Not your profile</h1>
</div>

<div class="container mt-4">
    <p>This is not your profile and can't access it.</p>
    <p><a href="{% url 'profile' user.id %}" class="btn btn-secondary btn-sm rounded-3">Back to my profile</a></p>
</div>

{% endif %}

{% endblock %}