{% extends 'website/base.html' %}

{% block title %}
Venues
{% endblock %}


{% block content %}

<div class="container mt-4">
    <h1 class="display-5">Venues</h1>
</div>

<div class="container mt-2">
    <p>Lorem ipsum dolor sit amet.</p>
</div>

{% if page_obj %}

    <div class="container mt-3">
        <a href="{% url 'website:update_db:add_venue' %}" class="btn btn-dark btn-sm rounded-3">Add Venue</a>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for venue in page_obj %}
                <div class="col">
                    <div class="card rounded-3">
                        <img src="{{ venue.image.url }}" class="card-img-top img-fluid" alt="{{ venue.name }}" style="width: 650px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ venue.name }}</h5>
                            <p class="card-text">{{ venue.city }}, {{ venue.country }}</p>
                            <p class="card-text">{{ venue.email }}</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="{% url 'website:model_pages:venue_page' venue.id %}" class="btn btn-dark btn-sm rounded-3">Venue Page</a>
                                    <a href="{% url 'website:model_pages:venue_events' venue.id %}" class="btn btn-secondary btn-sm rounded-3">View Events</a>
                                </div>

                                {% if user == venue.manager %}
                                    <a href="{% url 'website:update_db:edit_venue' venue.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>


    <div class="container text-center mt-3">
        <a href="{% url 'website:update_db:add_venue' %}" class="btn btn-dark btn-sm rounded-3">Add Venue</a>
        <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
    </div>

<div class="row justify-content-center mt-4">
    <div class="col-lg-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                        {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}