{% extends 'website/base.html' %}

{% block title %}
{{ promoter.name }}
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">
        Promoter Page
    </h1>
</div>

<div class="container mt-3">
    <ul>
        <li>{{ promoter.name }}</li>
    </ul>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-outline-danger btn-sm rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
    </button>
    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Please confirm if you want to delete: <strong>{{ promoter.name }}</strong>
          </div>
          <div class="modal-footer">
              <a href="{% url 'website:update_db:delete_promoter' promoter.id %}" class="btn btn-danger btn-sm rounded-3">Delete</a>
            <button type="button" class="btn btn-outline-secondary btn-sm rounded-3" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>

{% endblock %}