<footer class="mt-auto bg-dark text-center text-white">
            <div class="container p-4">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="{% url 'docs' %}" role="button">
                        <i class="fab fa-facebook-f">Docs</i>
                    </a>
                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="{% url 'docs_api' %}" role="button">
                        <i class="fab fa-twitter">API</i>
                    </a>
                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-google"></i>
                    </a>
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                </section>

                <!-- Section: Text -->
                <section class="mb-4">
                    <p>
                        Some text about the company or website, copyright notice, or contact information.
                    </p>
                </section>
            </div>

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Jack's Audio Suite
            </div>
        </footer>