{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Password Reset
{% endblock %}


{% block content %}

<div class="container mt-7">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h2 class="text-center">Reset Password</h2>
            <p class="text-center mt-3">You will get a link to reset your password via email.</p>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-secondary rounded-3">Reset my password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}