{% extends 'website/base.html' %}
{% load static %}


{% block title %}
Login
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
<!--            <h3 class="text-center mb-4">Login to use all our features</h3>-->
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="display-7">Login</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'website:user_auth:login' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <p class="ft-6 fw-lighter">
                            Don't have an account yet? You can register <a href="{% url 'website:user_auth:register' %}">here</a>.
                        </p>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-sm rounded-3">Login</button>
                            <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'website:user_auth:social:begin' 'facebook' %}" class="btn btn-outline-secondary btn-sm rounded-3"><img src="{% static 'website/img/facebook-auth.png' %}" width="20" height="20" alt="Facebook Login"></a>
                            <a href="{% url 'website:user_auth:social:begin' 'google-oauth2' %}" class="btn btn-outline-secondary btn-sm rounded-3"><img src="{% static 'website/img/google-auth-2.png' %}" width="20" height="20" alt="Google Login"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
