{% extends 'website/base.html' %}

{% block title %}
{{ event.name }}
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">
        Event Page
    </h1>
</div>

<div class="container mt-3">
    <div class="card text bg-dark">
        <img src="{{ event.event_flyer.url }}" class="card-img img-fluid" alt="{{ event.name }} at {{ event.venue }}"
             style="height: 500px; max-width: 100%;">
        <div class="card-img-overlay">
            <div class="card bg-dark" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: white;">{{ event.name }}</h5>
                    <p class="card-text" style="color: white;">{{ event.description }}</p>
                    {% if event.artists.all %}
                        <p class="card-text" style="color: white;">
                            Artists performing:
                            {% for artist in event.artists.all %}
                                {{ artist }}{% if event.artists.all.count > 1 %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p class="card-text" style="color: white;">Persons attending: {{ event.attendees.all.count  }}</p>
                    <p class="card-text" style="color: white;"><small>Last updated on {{ event.updated_at }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">

        {% if user in event.attendees.all %}
            <a href="{% url 'website:model_pages:event_unattend' event.id %}" class="btn btn-outline-info btn-sm rounded-3">Unattend</a>
        {% else %}
            <a href="{% url 'website:model_pages:event_attend' event.id %}" class="btn btn-info btn-sm rounded-3">Attend</a>
        {% endif %}

        {% if user == event.manager %}
            <a href="{% url 'website:update_db:edit_event' event.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
            <button type="button" class="btn btn-outline-danger btn-sm rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
            </button>
            <!--Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Please confirm if you want to delete event.
                  </div>
                  <div class="modal-footer">
                      <a href="{% url 'website:update_db:delete_event' event.id %}" class="btn btn-danger btn-sm rounded-3">Delete</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-3" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}

    {% if user == event.manager %}
        <a href="{% url 'website:user_profile:user_events' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
    {% else %}
        <a href="{% url 'website:model_pages:events' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
    {% endif %}
</div>

{% endblock %}