{% extends 'website/base.html' %}

{% block title %}
Upcoming Events
{% endblock %}


{% block content %}

<div class="container mt-4">
    <h1 class="display-5">Upcoming Events</h1>
</div>

<div class="container mt-2">
    <p>Lorem ipsum dolor sit amet.</p>
</div>

<div class="container mt-3">

    <a href="{% url 'website:update_db:add_event' %}" class="btn btn-dark btn-sm rounded-3">Add Event</a>

    {% if page_obj %}
        {% for event in page_obj %}
        <div class="card mt-3 mb-3 rounded-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <!-- Event Flyer Image -->
                    <img src="{{ event.event_flyer.url }}" class="img-fluid rounded-start" alt="Event Flyer"
                         style="height: 250px; width: 300px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.event_date }}</p>
                        <p class="card-text">{{ event.description | truncatewords:30 }}</p>

                        {% if user in event.attendees.all %}
                            <a href="{% url 'website:model_pages:event_unattend' event.id %}" class="btn btn-light btn-sm rounded-3">Unattend</a>
                        {% else %}
                            <a href="{% url 'website:model_pages:event_attend' event.id %}" class="btn btn-outline-light btn-sm rounded-3">Attend</a>
                        {% endif %}

                        <a href="{% url 'website:model_pages:event_page' event.id %}" class="btn btn-dark btn-sm rounded-3">View Event</a>

                        {% if user == event.manager %}
                            <a href="{% url 'website:update_db:edit_event' event.id %}" class="btn btn-secondary btn-sm rounded-3">Edit</a>
                        {% endif %}
                        <p class="card-text mt-2"><small class="text-muted">Last updated on {{ event.updated_at }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container text-center">
    <a href="{% url 'website:update_db:add_event' %}" class="btn btn-dark btn-sm rounded-3">Add Event</a>
    <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
</div>

<div class="row justify-content-center mt-4">
        <div class="col-lg-6">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">1</a>
                        </li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                            {% if page_obj.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}