{% extends 'website/base.html' %}

{% block title %}
Page Not Found
{% endblock %}


{% block content %}
<div class="col-md-6 offset-md-3">

<div class="container text-center mt-5">
    <h2 class="display-7">Page not found</h2>
</div>

<div class="container text-center mt-4">
    <p>
        The page you are looking for doesn't exist.
    </p>
    <p>
        <a href="{% url 'website:static_pages:home' %}" class="btn btn-secondary btn-sm rounded-3">Back to Home Page</a>
    </p>
</div>

</div>
{% endblock %}
