{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Feed
{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3">

    {% if posts %}

        <div class="container mt-4">
            <h1 class="display-5">Recent Posts</h1>
        </div>

        <div class="container mt-4">
            <a href="{% url 'add_post' %}" class="btn btn-dark btn-sm rounded-3">Create Post</a>
        </div>

        {% for post in posts %}
            <div class="container mt-4">
                <div class="card">
                    <h5 class="card-header">
                        <img src="{% if post.user.profile.avatar %}{{ post.user.profile.avatar.url }}{% else %}{% static 'website/img/default-avatar.png' %}{% endif %}" alt="" class="img-fluid rounded-circle" style="width: 45px; height: 45px">
                         {{ post.user.first_name }} {{ post.user.last_name }}
                    </h5>
                    <div class="card-body">
                        <img src="{{ post.image.url }}" alt="{{ post.image.url }}" class="img-fluid" style="width: 1000px;">
                        <p class="mt-2"><strong>
                            {% if post.likes.all.count == 1 %}
                                {{ post.likes.all.count }} Like
                            {% else %}
                                {{ post.likes.all.count }} Likes
                            {% endif %}

                        </strong></p>
                        <h5 class="card-title">{{ post.description | truncatewords:20 }}</h5>
<!--                        <p class="card-text">{{ post.description | truncatewords:20 }}</p>-->

                        <p class="mt-3">
                            {% if user not in post.likes.all %}
                                <a href="{% url 'add_like' post.id %}" class="btn btn-outline-danger btn-sm rounded-3">♡</a>
                            {% else %}
                                <a href="{% url 'delete_like' post.id %}" class="btn btn-danger btn-sm rounded-3">♥</a>
                            {% endif %}
                            <a href="{% url 'post_page' post.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Comment</a>
                        </p>
                        <p class="mt-3">{{ post.created_at }}{% if post.event.name %} at <a href="{% url 'website:model_pages:event_page' post.event.id %}">{{ post.event }}</a>{% endif %}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}

        <div class="container text-center mt-4">
            <h1 class="display-7">Feed</h1>
        </div>

        <div class="container text-center mt-4">
            <h4>There are no posts at the moment.</h4>
            <a href="{% url 'add_post' %}" class="btn btn-dark btn-sm rounded-3">Create Post</a>
            <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
        </div>

    {% endif %}

</div>

{% endblock %}
