{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ venue.name }}
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">
        {{ post.description | truncatewords:4 }}
    </h1>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <!-- Venue Image -->
            <img src="{{ post.image.url }}" class="img-fluid" alt="Image of {{ post.user }}">
        </div>
        <div class="col-md-6">
            <!-- Venue Information in Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.user.first_name }} {{ post.user.last_name }}</h5>
                    {% if post.event %}<p class="card-text">At <a href="{% url 'website:model_pages:event_page' post.event.id %}">{{ post.event }}</a></p>{% endif %}
                    <p>
                        <strong>
                            {% if post.likes.all.count == 1 %}
                                {{ post.likes.all.count }} Like
                            {% else %}
                                {{ post.likes.all.count }} Likes
                            {% endif %}
                        </strong>
                    </p>
                    <h4>{{ post.description }}</h4>
                    {% if comments %}
                        <h5 class="mt-5">Comments</h5>
                        {% for comment in comments %}
                            <p class="card-text mt-4"><strong>{{ comment.user.first_name }}:</strong> {{ comment.text }}</p>
                            <p class="card-text"><small class="text-body-secondary">On {{ comment.created_at }}</small></p>
                        {% endfor %}
                    {% else %}
                        <h5 class="mt-5">No comments yet...</h5>
                    {% endif %}
                    <form action="{% url 'add_comment' post.id %}" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}

                        {% if user not in post.likes.all %}
                                <a href="{% url 'add_like' post.id %}" class="btn btn-outline-info btn-sm rounded-3">Like</a>
                        {% else %}
                            <a href="{% url 'delete_like' post.id %}" class="btn btn-info btn-sm rounded-3">Liked</a>
                        {% endif %}

                        <button class="btn btn-outline-secondary btn-sm rounded-3" type="submit">Add Comment</button>

                        {% if user == post.user %}
<!--                        <a href="#" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>-->
                        <button type="button" class="btn btn-outline-danger btn-sm rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>

                        <!--Modal-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Please confirm if you want to delete post.
                                  </div>
                                  <div class="modal-footer">
                                      <a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm rounded-3">Delete</a>
                                    <button type="button" class="btn btn-outline-secondary btn-sm rounded-3" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    {% endif %}
                    </form>

                </div>
            </div>
            <div class="container text-center mt-2">

            </div>
        </div>
    </div>
</div>

{% endblock %}
