{% extends 'website/base.html' %}

{% block title %}
My Posts - {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

<div class="col-md-6 offset-md-3">

    {% if posts %}

        <div class="container mt-4">
            <h1 class="display-5">My Posts</h1>
        </div>

        <div class="container mt-4">
            <a href="{% url 'add_post' %}" class="btn btn-dark btn-sm rounded-3">Create Post</a>
        </div>

        {% for post in posts %}
            {% if user == post.user %}
            <div class="container mt-4">
                <div class="card">
                    <h5 class="card-header">
                        <img src="{{ post.user.profile.avatar.url }}" alt="" class="img-fluid rounded-circle" style="width: 45px; height: 45px">
                         {{ post.user.first_name }} {{ post.user.last_name }}
                    </h5>
                    <div class="card-body">
                        <img src="{{ post.image.url }}" alt="{{ post.image.url }}" class="img-fluid" style="max-width: 100%;">
                        <p class="mt-2"><strong>
                            {% if post.likes.all.count == 1 %}
                                {{ post.likes.all.count }} Like
                            {% else %}
                                {{ post.likes.all.count }} Likes
                            {% endif %}

                        </strong></p>
                        <h5 class="card-title">{{ post.description | truncatewords:2 }}</h5>
                        <p class="card-text">{{ post.description | truncatewords:20 }}</p>

                        <p>
                            {% if user not in post.likes.all %}
                                <a href="{% url 'add_like' post.id %}" class="btn btn-outline-danger btn-sm rounded-3">♡</a>
                            {% else %}
                                <a href="{% url 'delete_like' post.id %}" class="btn btn-danger btn-sm rounded-3">♥</a>
                            {% endif %}
                            <a href="{% url 'post_page' post.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Comment</a>
                        </p>
                        <p class="mt-3">{{ post.created_at }}{% if post.event.name %} at {{ post.event.name }}{% endif %}</p>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="container text-center mt-4">
                    <h1 class="display-7">My Posts</h1>
                </div>

                <div class="container text-center mt-4">
                    <h4>This is not your profile and can't see the posts.</h4>
                </div>

                <div class="container text-center mt-4">
                    {% if user.is_authenticated %}
                        <a href="{% url 'posts_feed' %}" class="btn btn-dark btn-sm rounded-3">View Feed</a>
                    {% endif %}
                    <a href="{% url 'website:user_profile:profile' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back to my profile</a>
                </div>
            {% endif %}
        {% endfor %}


        <div class="container mt-4">
            <a href="{% url 'website:user_profile:profile' user.id %}" class="btn btn-secondary btn-sm rounded-3">Back to my profile</a>
        </div>

    {% else %}

        <div class="container text-center mt-4">
            <h1 class="display-7">My Posts</h1>
        </div>

        <div class="container text-center mt-4">
            <h4>You have no posts at the moment. Create your first post.</h4>
        </div>

        <div class="container text-center mt-4">
            {% if user.is_authenticated %}
                <a href="{% url 'add_post' %}" class="btn btn-dark btn-sm rounded-3">Create Post</a>
            {% endif %}
            <a href="{% url 'website:user_profile:profile' user.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Back to my profile</a>
        </div>


    {% endif %}

</div>

{% endblock %}
