{% extends 'website/base.html' %}

{% block title %}
My Promoters - {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="display-5">My Promoters</h1>
</div>

<div class="container mt-2">
    <p>List of your promoters.</p>
</div>

<div class="container mt-3">
    <a href="{% url 'website:update_db:add_promoter' %}" class="btn btn-dark btn-sm rounded-3">Add Promoter</a>
</div>

<div class="container my-4">
    <div class="row">
        <!-- Card -->
        {% if promoters %}
            {% for promoter in promoters %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        {% if promoter.image %}
                            <img src="{{ promoter.image.url }}" class="card-img-top" alt="Promoter">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ promoter.name }}</h5>
                            <p class="card-text">{{ promoter.city }}</p>
                            <p class="card-text"><strong>Contact: </strong>{{ promoter.email }}</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="{% url 'website:model_pages:promoter_page' promoter.id %}" class="btn btn-dark btn-sm rounded-3">Promoter Page</a>
                                    <a href="{{ promoter.website }}" class="btn btn-secondary btn-sm rounded-3">Vist Website</a>
                                </div>

                                <div>
                                    <a href="{% url 'website:update_db:edit_promoter' promoter.id %}" class="btn btn-outline-secondary btn-sm rounded-3">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!-- End Card -->
    </div>
</div>

<div class="container text-center">
    <a href="{% url 'website:update_db:add_promoter' %}" class="btn btn-dark btn-sm rounded-3">Add Promoter</a>
    <a href="{% url 'website:static_pages:home' %}" class="btn btn-outline-secondary btn-sm rounded-3">Back</a>
</div>

{% endblock %}