{% extends 'website/base.html' %}

{% block title %}
Generated Event Flyers - {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

{% if page_obj %}

    <div class="container my-4">
        <h2 class="display-7 text-center mb-4">
            Your Event Flyers
        </h2>
        <div class="row">
            {% for image in page_obj %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ image.image.url }}" class="card-img-top" alt="Generated Image" width="354" height="202">
                        <a href="{{ image.image.url }}" class="btn btn-outline-secondary btn-sm rounded-3">Download</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-2">
            <a href="{% url 'website:api_calls:assistant_image' %}" class="btn btn-dark btn-sm rounded-3">Generate New Flyer</a>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
    <div class="col-lg-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                        {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% else %}

    <div class="container text-center mt-5">
        <h2 class="display-7">
            No images yet
        </h2>
        <p>
            You don't have any generated images yet.
        </p>
        <a href="{% url 'website:api_calls:assistant_image' %}" class="btn btn-dark btn-sm rounded-3">Try our Flyer Generator</a>
    </div>

{% endif %}

{% endblock %}
